<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>DadosServlet</servlet-name>
        <servlet-class>br.com.exemplo.DadosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DadosServlet</servlet-name>
        <url-pattern>/dados</url-pattern>
    </servlet-mapping>
</web-app>